{% extends '../base.html' %}
{% load static %}
{% block title %} Registrotion {% endblock title %}
{% block content %}
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Create your account</h2>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#" class="contact-form" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% if messages %}
                        <div class="col-lg-12 py-2">
                            {% include '../message.html ' %}
                        </div>
                        {% endif %}
                        <div class="col-lg-12 py-2">
                            <input name="username" type="text" placeholder="Enter username">
                            {{form.username.errors}}
                        </div>
                        <div class="col-lg-12 py-2">
                            <input name="email" type="email" placeholder="Enter email address">
                            {{form.email.errors}}
                        </div>
                        <div class="col-lg-12 py-2">
                            <input name="password2" type="passwoord" placeholder="Confirm password">
                            {{form.passwoord.errors}}
                        </div>
                        <div class="col-lg-12 py-2">
                            <input name="password" type="passwoord" placeholder="Enter passwoord">
                            {{form.passwoord2.errors}}
                        </div>
                       
                        <div class="col-lg-12 text-right">
                            <button class="btn-block" type="submit">Register</button>
                            
                        </div>
                        <div class="col-lg-12 text-center">
                           
                            <p>Already have an account</p>
                            <strong>
                                <a href="{% url 'login' %}" class="text-decoration-none text-dark">Login</a> 
                            </strong>here
                            
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
       
    </div>
</div>
{% endblock content %}